[submodule "tools/moses-scripts"]
	path = tools/moses-scripts
	url = https://github.com/marian-nmt/moses-scripts.git
[submodule "OPUSbench-website"]
	path = OPUSbench-website
	url = ../OPUSbench-website
[submodule "OPUSbench"]
	path = OPUSbench
	url = ../OPUSbench
